MONGO_URI=mongodb://<user>:<password>@ac-uoo8qur-shard-00-00.wdqjaqd.mongodb.net:27017,ac-uoo8qur-shard-00-01.wdqjaqd.mongodb.net:27017,ac-uoo8qur-shard-00-02.wdqjaqd.mongodb.net:27017/?ssl=true&authSource=admin&retryWrites=true&w=majority
MONGO_DB=parkzone
PARKZONE_DOMAIN=parkzone.in
